* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1000px;
  margin: 0 auto; }

a {
  text-decoration: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d232b;
  padding: 0 1rem; }
  .header .header__logo {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 300; }
    .header .header__logo span {
      font-size: 3rem;
      color: #02cdce; }
  .header .header__nav a {
    border-bottom: 1px solid #ffffff;
    padding: 0.5rem 0.8rem;
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0 0.3rem;
    font-weight: 700; }
    .header .header__nav a:hover {
      color: #02cdce;
      border: none; }

.banner {
  width: 100%;
  height: 31.25rem;
  background-image: url(../img/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner .banner__container {
    text-align: center;
    color: #ffffff; }
    .banner .banner__container h1 {
      font-size: 2.5rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.5rem; }
    .banner .banner__container p {
      line-height: 1.5rem;
      font-size: 0.8rem;
      letter-spacing: 0.05rem;
      color: #7f7677; }

.about {
  padding: 1.5rem 0; }
  .about .about__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; }
  .about .about__container {
    padding: 0 6rem;
    text-align: center; }
    .about .about__container .about__row {
      display: flex; }
      .about .about__container .about__row .about__col {
        flex: 1;
        margin-bottom: 0.5rem; }
        .about .about__container .about__row .about__col .about__item {
          padding: 0.5rem; }
          .about .about__container .about__row .about__col .about__item i {
            border-radius: 50%;
            font-size: 1rem;
            padding: 1.5rem;
            border: 1px solid #7f7677; }
          .about .about__container .about__row .about__col .about__item p {
            font-size: 0.7rem;
            font-weight: 500;
            word-spacing: 0.1rem;
            line-height: 1.3rem;
            color: #7f7677; }
    .about .about__container .about__us h2 {
      color: #02cdce;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .about .about__container .about__us p {
      font-size: 0.7rem;
      font-weight: 500;
      word-spacing: 0.1rem;
      line-height: 1.3rem; }

.stats {
  background-color: #02cdce;
  padding: 1.5rem 0; }
  .stats .stats__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; }
  .stats .stats__container {
    padding: 0 6rem; }
    .stats .stats__container .stats__row {
      display: flex;
      justify-content: center;
      align-items: center; }
      .stats .stats__container .stats__row .stats__col {
        flex: 1; }
      .stats .stats__container .stats__row .stats__item {
        text-align: center; }
        .stats .stats__container .stats__row .stats__item p {
          color: #ffffff;
          font-size: 2rem;
          font-weight: 500; }
        .stats .stats__container .stats__row .stats__item span {
          line-height: 2rem;
          font-size: 1.2rem;
          font-weight: 500; }

.blog {
  padding: 1.5rem 0; }
  .blog .blog__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; }
  .blog .blog__container {
    padding: 0 6rem;
    margin-bottom: 2.5rem; }
    .blog .blog__container .blog__row {
      display: flex; }
      .blog .blog__container .blog__row .blog__col {
        flex: 1;
        background-color: #efefef;
        margin: 0 0.5rem; }
        .blog .blog__container .blog__row .blog__col .blog__item {
          display: flex;
          flex-direction: column; }
          .blog .blog__container .blog__row .blog__col .blog__item img {
            flex: 1;
            width: 100%;
            border-top: 0.2rem solid #02cdce; }
          .blog .blog__container .blog__row .blog__col .blog__item .blog__item__info {
            flex: 1;
            padding: 1rem; }
            .blog .blog__container .blog__row .blog__col .blog__item .blog__item__info span {
              font-size: 1.1rem;
              font-weight: 500;
              word-spacing: 0.2rem;
              color: #02cdce; }
            .blog .blog__container .blog__row .blog__col .blog__item .blog__item__info p {
              font-size: 0.7rem;
              font-weight: 500;
              word-spacing: 0.1rem;
              line-height: 1.3rem;
              margin: 0.5rem 0; }
            .blog .blog__container .blog__row .blog__col .blog__item .blog__item__info a {
              font-size: 0.8rem;
              background-color: #000000;
              display: inline-block;
              color: #02cdce;
              padding: 0.5rem 1rem; }
  .blog .blog__more {
    height: 15rem;
    display: flex;
    background-color: #02cdce; }
    .blog .blog__more .blog__video {
      flex: 1;
      background-image: url(../img/b4.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
    .blog .blog__more .blog__more__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 0 3rem; }
      .blog .blog__more .blog__more__container h1 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1rem; }
      .blog .blog__more .blog__more__container p {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 500;
        word-spacing: 0.1rem;
        line-height: 1.3rem;
        color: #ffffff; }
      .blog .blog__more .blog__more__container a {
        font-size: 0.8rem;
        background-color: #000000;
        display: inline-block;
        color: #02cdce;
        padding: 0.5rem 1rem; }

.portfolio {
  padding: 1.5rem 0; }
  .portfolio .portfolio__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; }
  .portfolio .portfolio__container {
    padding: 0 6rem; }
    .portfolio .portfolio__container .portfolio__row {
      display: flex;
      flex-wrap: wrap; }
      .portfolio .portfolio__container .portfolio__row .portfolio__col {
        width: calc(100% / 3);
        padding: 0.3rem 0.5rem; }
        .portfolio .portfolio__container .portfolio__row .portfolio__col img {
          width: 100%;
          height: 100%; }

.subscribe {
  padding: 1.5rem 0;
  background-color: #02cdce; }
  .subscribe .subs__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; }
  .subscribe .subs__container {
    text-align: center;
    padding: 0 6rem; }
    .subscribe .subs__container p {
      padding: 1rem 6rem;
      font-size: 0.7rem;
      font-weight: 500;
      word-spacing: 0.1rem;
      line-height: 1.3rem;
      color: white; }
    .subscribe .subs__container input {
      border: none;
      padding: 0.5rem;
      font-size: 0.7rem;
      margin-bottom: 1rem; }
    .subscribe .subs__container a {
      font-size: 0.8rem;
      background-color: #000000;
      display: inline-block;
      color: #ffffff;
      padding: 0.5rem 2rem; }

.team {
  padding: 1.5rem 0; }
  .team .team__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; }
  .team .team__container {
    padding: 0 6rem; }
    .team .team__container .team__row {
      display: flex; }
      .team .team__container .team__row .team__col {
        flex: 1;
        padding: 0 1rem; }
        .team .team__container .team__row .team__col .team__item {
          position: relative; }
          .team .team__container .team__row .team__col .team__item img {
            width: 100%;
            height: 100%; }
          .team .team__container .team__row .team__col .team__item .team__info {
            background-color: #363636;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 0.5rem 1rem; }
            .team .team__container .team__row .team__col .team__item .team__info span {
              color: #02cdce;
              font-weight: 700;
              letter-spacing: 0.05rem; }
            .team .team__container .team__row .team__col .team__item .team__info p {
              font-size: 0.7rem;
              font-weight: 500;
              word-spacing: 0.1rem;
              line-height: 1.3rem;
              color: #ffffff; }
            .team .team__container .team__row .team__col .team__item .team__info a {
              margin: 0 0.2rem; }
              .team .team__container .team__row .team__col .team__item .team__info a i {
                padding: 0.2rem;
                font-size: 0.6rem;
                color: #ffffff;
                border: 1px solid #ffffff; }
